<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="icon" type="image/x-icon" href="../../img/bitbug_favicon.ico"/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/nav.css">
    <link rel="stylesheet" href="../../css/dangJianYaoWen/list.css">
    <link rel="stylesheet" href="../../css/sikasa.css">
    <title>红柠铁路智慧党建平台</title>
</head>

<body>
    <div class="box_container" id="wD">
        <img src="../../img/top_bg_img.jpg" alt="" class="nav_bg">
        <span class="usr_top" v-if="username != ''"><a href="/trainPC/html/demo/gerenzhongxin.html">哈喽，{{username}}</a></span>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="responsive-navbar" @mouseleave="navMethodFocus()">
                        <ul class="nav navbar-nav">
                                <li :class="{active:index == 3}" @mouseenter="navMethod(index)" v-for="navObject,index in nav_list" :key="index">
                                    <a v-if="navObject.name != '学习强国'" :href="navObject.href" >{{navObject.name}}</a>
                                    <a v-else="navObject.name == '学习强国'" target="_blank" :href="navObject.href" >{{navObject.name}}</a>
                                </li>
                            </ul>
                </div>
            </div>
        </nav>
        <div class="sec_content">
            <div class="row" style="background-color: #fff;border-bottom: 1px solid red;">
                <div style="max-width: 1000px;margin: 0 auto;text-align: left;">
                    <div style=" font-size: 24px;padding: 40px 0px 20px 0px;font-weight: bold;">微党课学习</div>
                    <div style="border:2px solid red;margin:0 auto;"></div>
                    <div class="weidangke">
                        <!-- <div>
                            <img src="../../img/weidangke2.png" alt="">
                        </div>
                        <div style="font-size: 18px;font-weigth:bold;">
                            课程名称:《《习近平新时代中国特色社会主义思想十三讲》》
                        </div>
                        <div>
                            作者：中央宣传部
                        </div>
                        <div>
                            单位：中央宣传部
                        </div>
                        <div>课程简介：本课件分为三十个专题，全面、系统、深入阐述了习近平新时代中国特色主义思想的重大意义、科学体系、丰富内涵、精神实质，实践要求</div>
                        <div></div> -->
                        <img src="../../img/weidangke.png" alt="" style="width: 100%;padding:15px;">
                        
                    </div>
                    <div style="text-align: right;margin:20px;" class="sPage">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!--右侧栏-->
            <div class="sec_right">
                <ul class="list">
                        <li><a href="/trainPC/html/demo/gerenzhongxin.html?wodexuexi">我的学习</a></li>
                        <li><a href="/trainPC/html/demo/gerenzhongxin.html?wodekaoshi">我的考试</a></li>
                        <li><a href="/trainPC/html/demo/gerenzhongxin.html?wodejifen">我的积分</a></li>
                        <li><a href="/trainPC/html/demo/gerenzhongxin.html?wodexinxi">我的消息</a></li>
                </ul>
                <!-- <div class="center_fix" style="background-color: #e9e9e9;">
                <p class="message_num">3条信息</p>
                <ul>
                    <li><a>·6月28日支部党员大会</a></li>
                    <li><a>·6月28日支部党员大会</a></li>
                    <li><a>·6月28日支部党员大会</a></li>
                </ul>
                <a>更多>></a>
            </div> -->
                <div class="er_wrap">
                    <img src="../../img/dangjianyun_we.jpg" />
                    <p>下载党建云APP</p>
                    <img src="../../img/xuexi_we.jpg" alt="">
                    <p>下载学习强国APP</p>
                </div>
            </div>
        </div>
        <div class="footer" style="margin: 0;">
            <div class="footer_list">
                <span>友情链接</span>
                <ul>
                        <li><a target="_blank" href="http://www.people.com.cn/">人民网</a></li>
                        <li><a target="_blank" href="http://cpc.people.com.cn/">中国共产党新闻网</a></li>
                        <li><a target="_blank" href="http://www.dangjian.cn/">党建网</a></li>
                        <li><a target="_blank" href="http://www.xinhuanet.com/">新华网</a></li>
                        <li><a target="_blank" href="https://www.xuexi.cn/">学习强国</a></li>
                        <li><a target="_blank" href="http://www.shccig.com/">陕煤集团</a></li>
                        <li><a target="_blank" href="http://www.shrlig.com/">铁路物流公司</a></li>
                </ul>
            </div>
            <div class="footer_img">
                <img src="../../img/footer_bg.jpg" alt="">
            </div>
            <p class="footer_text">中共陕西红柠铁路有限公司委员会</p>
        </div>
    </div>
</body>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/polyfill.min.js"></script>
<script src="../../js/axios.js"></script>
<script src="../../js/qs.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/MyPage.js"></script>
<script>
    var vue = new Vue({
        el: "#wD",
        data: {
            nav_list:[ {name:"党建宣传",href:"/trainPC/html/index.html"},
                    {name:"活动相册",href:"/trainPC/html/huoDongXiangCe/list.html"},
                    {name:"支部动态",href:"/trainPC/html/zhiBuDongTai/list.html"},
                    {name:"微党课",href:"/trainPC/html/demo/weidangke.html"},
                    {name:"干部管理",href:"/trainPC/html/demo/ganbuguanli.html"},
                    {name:"党建考核",href:"/trainPC/html/demo/dangjiankaohe.html"},
                    {name:"支部考评",href:"/trainPC/html/zhikao.html"},
                    {name:"三会一课",href:"/trainPC/html/sanhuiyike.html"},
                    {name:"积分排名",href:"/trainPC/html/jifen.html"},
                    {name:"学习强国",href:"https://www.xuexi.cn/"}],
            active_index:3,
            username:"",
        },
        mounted:function(){
            if(window.localStorage.getItem("username")){
                this.username = window.localStorage.getItem("username");
            }
        },
        methods: {
            navMethod: function (index) {
                $(".navbar-nav li").eq(index).addClass("active").siblings().removeClass("active");
            },
            navMethodFocus:function(){
                $(".navbar-nav li").eq(this.active_index).addClass("active").siblings().removeClass("active");
            }
        },
    })
</script>

</html>