<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/nav.css">
    <link rel="stylesheet" href="../../css/dangJianYaoWen/list.css">
    <title>党建要闻</title>
</head>
<body>
<div class="box_container" id="dJ">
    <img src="../../img/top_bg_img.jpg" alt="" class="nav_bg">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="responsive-navbar">
                <ul class="nav navbar-nav">
                    <li :class="{active:index <= 0}" @mouseenter="navMethod(index)" v-for="navObject,index in nav_list" :key="index"><a :href="navObject.href">{{navObject.name}}</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="sec_content">
        <div class="row" style="background-color: #fff;border-bottom: 1px solid red;">
            <img class="dang_top_img" src="../../img/dJ.jpg" />
            <div class="dang_list_wrap">
                <p class="dang_title">
                    <a href="/trainPC/html/index.html">首页</a>
                    <span>/</span>
                    <a>党建要闻</a>
                </p>
                <div class="content_title">党建要闻</div>
                <div class="dang_content">
                    <ul class="dang_ul_list">
                        <li v-for="object in listData">
                            <a :href="'/trainPC/html/detail.html?type=1&rowId='+object.rowid">
                                <img :src="object.allImgUrl[0]" alt="">
                                <div class="right">
                                    <h3>{{object.newTitle}}</h3>
                                    <p>{{object.newContont | readMore(48,'...')}}</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="page" id="Page"></div>
                </div>
            </div>
        </div>
        <!--右侧栏-->
        <div class="sec_right">
            <ul class="list">
                <!-- <li><a>站内搜索</a></li> -->
                <li><a>我的学习</a></li>
                <li><a>我的考试</a></li>
                <li><a>我的积分</a></li>
                <li><a>我的信息</a></li>
            </ul>
            <!-- <div class="center_fix" style="background-color: #e9e9e9;">
                <p class="message_num">3条信息</p>
                <ul>
                    <li><a>·6月28日支部党员大会</a></li>
                    <li><a>·6月28日支部党员大会</a></li>
                    <li><a>·6月28日支部党员大会</a></li>
                </ul>
                <a>更多>></a>
            </div> -->
            <div class="er_wrap">
                <img src="../../img/xuexi_we.jpg" />
                <p>下载党建云APP</p>
                <img src="../../img/xuexi_we.jpg" alt="">
                <p>下载学习强国APP</p>
            </div>
        </div>
    </div>
    <div class="footer" style="margin: 0;">
        <div class="footer_list">
            <span>友情链接</span>
            <ul>
                <li><a target="_blank" href="http://www.people.com.cn/">人民网</a></li>
                <li><a target="_blank" href="http://cpc.people.com.cn/">中国共产党新闻网</a></li>
                <li><a target="_blank" href="http://www.dangjian.cn/">党建网</a></li>
                <li><a target="_blank" href="http://www.xinhuanet.com/">新华网</a></li>
                <li><a target="_blank" href="https://www.xuexi.cn/">学习强国</a></li>
                <li><a target="_blank" href="http://www.shccig.com/">陕煤集团</a></li>
                <li><a target="_blank" href="http://www.shrlig.com/">铁路物流公司</a></li>
                </ul>
        </div>
        <div class="footer_img">
            <img src="../../img/footer_bg.jpg" alt="">
        </div>
        <p class="footer_text">中共陕西红柠铁路有限公司委员会</p>
    </div>
</div>
</body>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/polyfill.min.js"></script>
<script src="../../js/axios.js"></script>
<script src="../../js/qs.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/MyPage.js"></script>
<script>
    var vue = new Vue({
        el:"#dJ",
        data:{
            nav_list:[ {name:"党建宣传",href:""},
                    {name:"活动相册",href:""},
                    {name:"支部动态",href:""},
                    {name:"微党课",href:""},
                    {name:"干部管理",href:""},
                    {name:"党建考核",href:""},
                    {name:"支部考评",href:""},
                    {name:"学习强国",href:""}],
            listData:[],
            page:0,
            p_size:10,
            totalPage:0,
        },
        mounted:function(){
            this.getData(1,this.p_size);
        },
        watch: {
            totalPage:function(){
                var that = this;
                console.log(this.p_size)
                P.initMathod({
                    params: {elemId: '#Page',total:this.totalPage,pageSize:this.p_size},
                    requestFunction: function (d_page,d_size) {
                        that.getData(d_page,d_size);
                    }
                });
            } 
        },
        methods: {
            navMethod:function (index) {
                $(".navbar-nav li").eq(index).addClass("active").siblings().removeClass("active");
            },
            getData:function(page,size){
                var that = this;
                axios({
                    url:"http://106.14.183.96/red-caragana-railway/news/getNewsListA.do?newsColumn=3&page="+page+"&size="+size,
                    method:"GET",
                }).then(function(res){
                    if(res.data.code == 200){
                        that.listData = res.data.data;
                        that.totalPage = res.data.total;
                    }
                    /*that.dangJianNews*/
                }).catch(function(err){

                })
            }
        },
    })
</script>
</html>