<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/dangJianYaoWen/list.css">
    <link rel="icon" type="image/x-icon" href="../img/bitbug_favicon.ico"/>
    <title>活动相册</title>
    <style>
        .swiper-container {
            width: 100%;
            height: 100%;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            width:100%;
            height:625px;
        }
        .swiper-slide img{
            width:100%;
            height:100%;
        }
    </style>
</head>
<body>
<div class="box_container" id="detail">
    <img src="../img/top_bg_img.jpg" alt="" class="nav_bg">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="responsive-navbar">
                <ul class="nav navbar-nav">
                    <li :class="{active:index <= 0}" @mouseenter="navMethod(index)" v-for="navObject,index in nav_list" :key="index"><a :href="navObject.href">{{navObject.name}}</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="sec_content">
        <div class="row" style="background-color: #fff;border-bottom: 1px solid red;">
            <!--<img class="dang_top_img" src="../img/zT.jpg" />-->
            <div class="dang_list_wrap">
                <p class="dang_title">
                    <a href="/trainPC/html/index.html">首页</a>
                    <span>/</span>
                    <a href="/trainPC/html/huoDongXiangCe/list.html">活动相册</a>
                    <span >/</span>
                    <a>详情</a>
                </p>
                <!--<div class="content_title">专题活动</div>-->
                <div class="dang_content">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide" v-for="object in detailObject">
                              <img :src="object.imgSrc" />
                          </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                      </div>
                </div>
            </div>
        </div>
        <!--右侧栏-->
        <div class="sec_right">
            <ul class="list">
                <!-- <li><a>站内搜索</a></li> -->
                <li><a href="/trainPC/html/demo/gerenzhongxin.html?wodexuexi">我的学习</a></li>
                    <li><a href="/trainPC/html/demo/gerenzhongxin.html?wodekaoshi">我的考试</a></li>
                    <li><a href="/trainPC/html/demo/gerenzhongxin.html?wodejifen">我的积分</a></li>
                    <li><a href="/trainPC/html/demo/gerenzhongxin.html?wodexinxi">我的信息</a></li>
            </ul>
            <!-- <div class="center_fix" style="background-color: #e9e9e9;">
                <p class="message_num">3条信息</p>
                <ul>
                    <li><a>·6月28日支部党员大会</a></li>
                    <li><a>·6月28日支部党员大会</a></li>
                    <li><a>·6月28日支部党员大会</a></li>
                </ul>
                <a>更多>></a>
            </div> -->
            <div class="er_wrap">
                <img src="../img/xuexi_we.jpg" />
                <p>下载党建云APP</p>
                <img src="../img/xuexi_we.jpg" alt="">
                <p>下载学习强国APP</p>
            </div>
        </div>
    </div>
    <div class="footer" style="margin: 0;">
        <div class="footer_list">
            <span>友情链接</span>
            <ul>
                <li><a target="_blank" href="http://www.people.com.cn/">人民网</a></li>
                <li><a target="_blank" href="http://cpc.people.com.cn/">中国共产党新闻网</a></li>
                <li><a target="_blank" href="http://www.dangjian.cn/">党建网</a></li>
                <li><a target="_blank" href="http://www.xinhuanet.com/">新华网</a></li>
                <li><a target="_blank" href="https://www.xuexi.cn/">学习强国</a></li>
                <li><a target="_blank" href="http://www.shccig.com/">陕煤集团</a></li>
                <li><a target="_blank" href="http://www.shrlig.com/">铁路物流公司</a></li>
                </ul>
        </div>
        <div class="footer_img">
            <img src="../img/footer_bg.jpg" alt="">
        </div>
        <p class="footer_text">中共陕西红柠铁路有限公司委员会</p>
    </div>
</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/swiper.min.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/qs.js"></script>
<script src="../js/vue.js"></script>
<script>
    var vm = new Vue({
        el:"#detail",
        data:{
            nav_list:[ {name:"党建宣传",href:"/trainPC/html/index.html"},
                    {name:"活动相册",href:"/trainPC/html/huoDongXiangCe/list.html"},
                    {name:"支部动态",href:"/trainPC/html/zhiBuDongTai/list.html"},
                    {name:"微党课",href:"/trainPC/html/demo/weidangke.html"},
                    {name:"干部管理",href:"/trainPC/html/demo/ganbuguanli.html"},
                    {name:"党建考核",href:"/trainPC/html/demo/dangjiankaohe.html"},
                    {name:"支部考评",href:"/trainPC/html/zhikao.html"},
                    {name:"三会一课",href:"/trainPC/html/sanhuiyike.html"},
                    {name:"积分排名",href:"/trainPC/html/jifen.html"},
                    {name:"学习强国",href:"https://www.xuexi.cn/"}],
            detailObject:"",
            newsType:"",
        },
        created:function () {
            var that = this;
            this.navMethod();
            var rowId = that.getId()["rowId"];
            this.newsType = that.getId()["type"];
            console.log(rowId)
            axios({
                method: 'GET',
                url: 'http://106.14.183.96/red-caragana-railway/album/queryAlbumImagesContent.do?rowid='+rowId,
            }).then(function(res){
                if(res.data.code == 200){
                    that.detailObject = res.data.data;
                    var swiper = new Swiper('.swiper-container', {
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                        },
                        observer:true, //修改swiper自己或子元素时，自动初始化swiper
                        observeParents:true,
                    });
                    console.log("that.detailObject",that.detailObject)
                }
            }).catch(function(error){
                console.log(error);
            })
        },
        methods:{
            getId:function(){
                var url = location.search; //获取url中"?"符后的字串
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for(var i = 0; i < strs.length; i ++) {
                        theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                    }
                }
                return theRequest;
            },
            navMethod:function () {
                $(".navbar-nav li").on("mouseenter",function () {
                    $(this).addClass("active").siblings().removeClass("active");
                })
            }
        }
    })
    $(function () {

    })
</script>
</html>