<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>红柠铁路智慧党建平台</title>
    <link rel="icon" type="image/x-icon" href="../img/bitbug_favicon.ico"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="box_container" id="indexBox">
        <img src="../img/top_bg_img.jpg" alt="" class="nav_bg">
        <span class="usr_top" v-if="username != ''"><a href="/trainPC/html/demo/gerenzhongxin.html">你好，{{username}}</a></span>
        <nav class="navbar navbar-inverse" >
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="responsive-navbar" @mouseleave="navMethodFocus()">
                    <ul class="nav navbar-nav">
                        <li :class="{active:index == 0}" @mouseenter="navMethod(index)" v-for="navObject,index in nav_list" :key="index">
                            <a v-if="navObject.name != '学习强国'" :href="navObject.href" >{{navObject.name}}</a>
                            <a v-else="navObject.name == '学习强国'" target="_blank" :href="navObject.href" >{{navObject.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="sec_content">
            <!--内容区域-->
            <div class="row">
                <h2>
                    <template v-if="listObject.hotList.length > 0">
                            <a :href="'/trainPC/html/detail.html?type=&rowId='+listObject.hotList[0].rowid">{{listObject.hotList[0].newTitle}}</a>
                    </template>
                </h2>
                <div class="ad_img_wrap" v-if="guoNeiYaoWen.length">
                    <!--左侧轮播-->
                    <div class="swiper-container">
                        <div class="swiper-wrapper" >
                            <div class="swiper-slide"   v-for="object,index in guoNeiYaoWen" :key="index">
                                <a :href="'/trainPC/html/detail.html?type=&rowId='+object.rowid">
                                    <img src="../img/zhan_img_c.jpg" :onload="onloadImg(object.allImgUrl[0])" alt="">
                                    <p class="swiper-text">{{object.newTitle}}</p>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    
                    <!--右侧广告-->
                    <ul class="ad_list">
                        <template v-if="guoNeiYaoWen.length > 0">
                            <li v-for="object,index in guoNeiYaoWen" :key="index"><a :href="'/trainPC/html/detail.html?type=&rowId='+object.rowid">{{object.newTitle  | readMore(25,'...')}}</a></li>
                        </template>
                    </ul>
                </div>
                <!--内容板块-->
                <div class="content_wrap">
                    <div class="left_content_box">
                        <div class="left_content_title">
                            <span>集团新闻</span>
                            <a href="/trainPC/html/jiTuanXinWen/list.html">更多>></a>
                        </div>
                        <div class="left_content_wrap">
                            <template v-if="listObject.jiTuanNews.length > 0">
                                <div class="img_wrap">
                                        <a :href="'/trainPC/html/detail.html?type=0&rowId='+listObject.jiTuanNews[0].rowid" >
                                            <img src="../img/zhan_img_c.jpg" :onload="onloadImg(listObject.jiTuanNews[0].allImgUrl[0])"  alt="">
                                            <p>{{listObject.jiTuanNews[0].newTitle}}</p>
                                        </a>
                                    
                                </div>
                                <ul>
                                    <li v-if="index>0"  v-for="newObject,index in listObject.jiTuanNews">
                                        <a :href="'/trainPC/html/detail.html?type=0&rowId='+newObject.rowid" >{{newObject.newTitle}}</a>
                                    </li>
                                </ul>
                            </template>
                        </div>
                    </div>
                    <div class="right_content_box">
                        <div class="left_content_title">
                            <span>党建要闻</span>
                            <a href="/trainPC/html/dangJianYaoWen/list.html">更多>></a>
                        </div>
                        <ul class="right_list">
                            <template v-if="listObject.dJList.length > 0">
                                <li v-for="object in listObject.dJList">
                                    <a :href="'/trainPC/html/detail.html?type=1&rowId='+object.rowid">
                                        <img src="../img/zhan_img_c.jpg" :onload="onloadImg(object.allImgUrl[0])" alt="">
                                        <div class="dang">
                                            <h3>{{object.newTitle}}</h3>
                                            <p>{{object.newContont | readMore(36, '...')}}</p>
                                        </div>
                                    </a>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
                <!--图片广告位-->
                <div class="left_content_title huodogn">
                        <span>活动专题</span>
                        <a href="/trainPC/html/zhuanTiHuoDong/list.html">更多>></a>
                </div>
                <div class="center_img_wrap">
                    <template v-if="listObject.zuanHuoList.length > 0">
                        <ul>
                            <li v-for="object in listObject.zuanHuoList">
                                <a :href="'/trainPC/html/detail.html?type=5&rowId='+object.rowid">
                                    <img src="../img/zhan_img_c.jpg" :onload="onloadImg(object.allImgUrl[0])" alt="">
                                    <p>{{object.newTitle}}</p>
                                </a>
                            </li>
                        </ul>
                    </template>
                </div>
                <!--支部动态和活动相册-->
                <div class="zhibu_active_wrap">
                    <div class="zhibu_wrap">
                        <div class="left_content_title">
                            <span>党建动态</span>
                            <a href="/trainPC/html/zhiBuDongTai/list.html">更多>></a>
                        </div>
                        <ul class="zhibu_ul">
                            <template v-if="listObject.zBList.length > 0">
                                <li v-for="object in listObject.zBList">
                                    <a :href="'/trainPC/html/zhi_detail.html?type=2&rowId='+object.rowid">
                                        <span>{{object.organizationTitle}}</span>
                                        <span style="text-align: left;">{{transformTime(object.organizationTime)}}</span>
                                    </a>
                                </li>
                            </template>
                        </ul>
                    </div>
                    <div class="active_wrap active_picture_wrap">
                        <div class="left_content_title">
                            <span>活动相册</span>
                            <a href="/trainPC/html/huoDongXiangCe/list.html">更多>></a>
                        </div>
                        <ul>
                            <template v-if="listObject.huoDongList.length > 0">
                                <li v-for="object in listObject.huoDongList">
                                    <a :href="'/trainPC/html/active_detail.html?type=6&rowId='+object.rowid">
                                        <img src="../img/zhan_img_c.jpg" :onload="onloadImg(object.newsImagess[0].imgSrc)"  alt="">
                                        <p>{{object.albumTitle}}</p>
                                    </a>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
                <!--反腐倡廉和专题教育-->
                <div class="zhibu_active_wrap">
                    <div class="zhibu_wrap">
                        <div class="left_content_title">
                            <span>反腐倡廉</span>
                            <a href="/trainPC/html/fanFuChangLian/list.html">更多>></a>
                        </div>
                        <ul class="zhibu_ul">
                            <template v-if="listObject.fanFuList.length > 0">
                                <li v-for="object in listObject.fanFuList">
                                    <a :href="'/trainPC/html/detail.html?type=3&rowId='+object.rowid">
                                        <span>{{object.newTitle}}</span>
                                        <span style="text-align: left;">{{transformTime(object.newsTime)}}</span>
                                    </a>
                                </li>
                            </template>
                        </ul>
                    </div>
                    <div class="active_wrap">
                        <div class="left_content_title">
                            <span>专题教育</span>
                            <a href="/trainPC/html/zhuanTiJiaoYu/list.html">更多>></a>
                        </div>
                        <ul class="zhibu_ul">
                            <template v-if="listObject.zuanTiList.length > 0">
                                <li v-for="object in listObject.zuanTiList">
                                    <a :href="'/trainPC/html/detail.html?type=4&rowId='+object.rowid">
                                        <span>{{object.newTitle}}</span>
                                        <span style="text-align: left;">{{transformTime(object.newsTime)}}</span>
                                    </a>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
            <!--右侧栏-->
            <div class="sec_right">
                <ul class="list">
                    <!-- <li><a>站内搜索</a></li> -->
                    <li><a href="/trainPC/html/demo/gerenzhongxin.html?wodexuexi">我的学习</a></li>
                    <li><a href="/trainPC/html/demo/gerenzhongxin.html?wodekaoshi">我的考试</a></li>
                    <li><a href="/trainPC/html/demo/gerenzhongxin.html?wodejifen">我的积分</a></li>
                    <li><a href="/trainPC/html/demo/gerenzhongxin.html?wodexinxi">我的消息</a></li>
                </ul>
                <!-- <div class="center_fix" style="background-color: #e9e9e9;">
                    <p class="message_num">3条信息</p>
                    <ul>
                        <li><a>·6月28日支部党员大会</a></li>
                        <li><a>·6月28日支部党员大会</a></li>
                        <li><a>·6月28日支部党员大会</a></li>
                    </ul>
                    <a href="/html/zhiBuDongTai/list.html">更多>></a>
                </div> -->
                <div class="er_wrap">
                    <img src="../img/dangjianyun_we.jpg" />
                    <p>下载党建云APP</p>
                    <img src="../img/xuexi_we.jpg" alt="">
                    <p>下载学习强国APP</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_list">
                <span>友情链接</span>
                <ul>
                    <li><a target="_blank" href="http://www.people.com.cn/">人民网</a></li>
                    <li><a target="_blank" href="http://cpc.people.com.cn/">中国共产党新闻网</a></li>
                    <li><a target="_blank" href="http://www.dangjian.cn/">党建网</a></li>
                    <li><a target="_blank" href="http://www.xinhuanet.com/">新华网</a></li>
                    <li><a target="_blank" href="https://www.xuexi.cn/">学习强国</a></li>
                    <li><a target="_blank" href="http://www.shccig.com/">陕煤集团</a></li>
                    <li><a target="_blank" href="http://www.shrlig.com/">铁路物流集团</a></li>
                </ul>
            </div>
            <div class="footer_img">
                <img src="../img/footer_bg.jpg" alt="">
            </div>
            <p class="footer_text">中共陕西红柠铁路有限责任公司委员会</p>
        </div>
    </div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/swiper.min.js"></script>
<script src="../js/polyfill.min.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/qs.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/common.js"></script>
<script src="../js/index.js"></script>
</html>